.about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url('/tabla.jpg');
  background-size: cover;
  height: 84.5svh;
}
.about h2 {
  font-size: 40px;
}

.about p {
  max-width: 800px;
  text-align: center;
  font-size: 24px;
  text-shadow: 1px 1px 2px black;
}

@media (max-width: 900px) {
  .about {
    justify-content: flex-start;
  }
  .about h2 {
    padding-top: 20px;
  }
  .about p {
    margin: 20px;
    max-width: 600px;
    font-weight: 400;
    font-size: 18px;
  }
}

@media (max-width: 650px) {
  .about p {
    font-weight: 300;
    font-size: 16px;
    max-width: 400px;
  }
}

@media (max-width: 450px) {
  .about h2 {
    font-size: 26px;
  }
  .about p {
    max-width: 300px;
    font-size: 14px;
  }
}
